body{
	background-color:#D08B00; 
}
@font-face{
	font-family: Archistico_Bold;
	src: url("Archistico_Bold.ttf");
}
#main{
	font-family: Archistico_Bold, Arial;
	font-size: 24pt;
}
#navigation{
	position: absolute;
	width: 210px;
	height: 600px;
	background-color:#4C3200;
	margin:0px;
	margin-top: 0px;
	border-right: 10px solid #FDB72B;
	font-weight: normal;
}

#main_box{
	position:absolute;
	padding:0 0 20px 0;/*top right bottom left*/
	margin-left:235px;
	background-color: #996600; 
	height: 550px;
	width: 1000px;
	color:#FFD88B;  
}
h2{
	text-align: center;
	color: #FFD88B;

}

li{
	list-style-type:none; 
	line-height:150%;
}
a{
	color:#FFD88B;
 
}
h1{
	color:#4C3200;
	text-align: center;
		font-family: Archistico_Bold, Arial;
	font-size: 24pt;
	
	
}

img{
display: block;
margin-left: auto;
margin-right: auto;
width: 250px;
height: 150px;
}
/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #FFD88B;
    background-color: red;
}

/* selected link */
a:active {
    color:#FFD88B ;
}